<!DOCTYPE html>
<html>
<style type="text/css">
label {color: black}
body {background-image: url("http://img.phombo.com/img1/photocombo/181701/100_HD_Nature_Wallpapers_HQPixsBlog-9.jpg_HQ_Pixs_Blog_14.jpg");
background-repeat: no-repeat;
color:black;
 }
.vertical-center {

position: fixed;
  top: 30%;
  left: 38%;


}
h2 {color:white}
.panel > .panel-heading {

    background-color: light-blue;
    color: black;

}


</style>
<body>
<h2>Sign up</h2>
<div class="vertical-center">
<div class="panel panel-default">
  <div class="panel-heading custom_class" >
  <div class="panel-body">
    <h4>Sign up</h4>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>

</body>
</div>
</div>
</div>
</div>
</html>

